 
.dashboard{
    margin: 20px;
    margin-bottom: 0;
   overflow: hidden;
   height: calc(100vh - 100px);
   background-color: #f8fafc;
}




.dashboard-main::-webkit-scrollbar,.dashboard-right::-webkit-scrollbar, .dashboard-left::-webkit-scrollbar{
    display: none;
}
.dashboard-main,.dashboard-right, .dashboard-left{
    overflow: hidden;
    height: calc(100vh - 80px);
    overflow-y: scroll;
}
.dashboard-main:hover,.dashboard-right:hover, .dashboard-left:hover{
    overflow-y: scroll;
    transition: overflow-y 0.3s;
}
